@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/********************* header************ */
.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(/college/banner.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

/********************* Nav******************* */
nav {
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 160px;
}

.nav-links ul {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 15px;
    position: relative;
}

.nav-links ul li a {
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;

}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background-color: blueviolet;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/********************* Nav******************* */
.text-box {
    width: 80%;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 52px;
    color: rgb(98, 98, 138);
}

.text-box p {
    font-size: 17px;
    color: rgb(2, 9, 17);
    margin: 10px 20px;
}

.visited-btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 30px;
    font-size: 15px;
    color: rgb(2, 26, 26);
    border: 1px solid rgb(75, 65, 65);
    background: transparent;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
}

.visited-btn:hover {
    border: 1px solid rgb(236, 230, 230);
    color: aliceblue;
    background-color: darkorange;
    transition: 1s;
}

nav .fa {
    display: none;
}

@media only screen and (max-width: 600px) {
    .text-box h1 {
        font-size: 20px;
    }

    .visited-btn {
        color: aliceblue;
        border: 1px solid white;
    }

    .nav-links ul li {
        display: block;
        /* text-align: center; */

    }

    .nav-links {
        width: 200px;
        height: 100vh;
        position: absolute;
        background-color: rgba(47, 79, 79, 0.973);
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .nav-links ul li:hover::after {
        width: 0%;
    }

    nav .fa {
        display: block;
        font-size: 20px;
        color: aliceblue;
        cursor: pointer;
        padding: 20px;
    }


}

.courses {
    width: 90%;
    margin: auto;
    color: aliceblue;
    margin-top: 100px;
    text-align: center;
}

.courses h1{
    color: black;
    font-size: 45px;
    font-weight: 600;
}
.courses p{
    color: rgb(51, 50, 50);
    margin: 10px 0px;
    
}

.row{
    display: flex;
    margin-top: 40px;
}
.course-col{
    margin:5px ;
    background-color: rgba(255, 192, 203, 0.838);
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    transition: .5s;
}

.course-col:hover{
    background-color: bisque;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.course-col h3{
    font-size: 20px;
    color: black;

}
.course-col p {
text-align: justify;
padding: 0px 20px;
color: rgb(57, 60, 62);

}

@media only screen and (max-width: 600px){
    .row{
        display: flex;
      flex-direction: column;
    }
}